/*
 * ======================================================
 * IMPORT EXTERNAL CSS
 * ======================================================
 */
@import "../../lib/bootstrap-3.3.7/css/bootstrap.css";
@import "../../lib/bootstrap-toggle/css/bootstrap-toggle.css";
@import "../../lib/font-awesome-4.5.0/css/font-awesome.css";
@import "../../lib/stackable-1.0.1/stacktable.css";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

/*
 * ======================================================
 * MAIN
 * ======================================================
 */

body {
    background-color: #f9f9f9;
	color: #202020;
	font-family: Source Sans Pro;
	font-size: 18px;
}

header {
    padding-top: 25px;
}

@media (max-width: 768px) {
    body {
        margin-top: 15px;
    }

    header {
        padding-top: 15px;
    }

	.text-xs-left, td {
		text-align: left !important;
	}

	.stacktable {
		border-bottom: 1px solid #428bca;
		margin-bottom: 0;
	}

}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}

.valign {
    font-size: 0;
}

.valign > [class*="col"] {
    display: inline-block;
    float: none;
    font-size: 14px;
    font-size: 1rem;
    vertical-align: middle;
}

img.brand {
    margin: -25px 0 0 0;
    height: 60px;
}

.navbar-custom .navbar-brand {
    color: rgba(255, 255, 255, 1);
}

.navbar-custom {
    background-color: rgba(0, 114, 114, 1);
    border-width: 0px;
    border-radius: 0px;
}

.navbar-custom .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 114, 114, 1);
}

.navbar-custom .navbar-nav>li>a:hover,
.navbar-custom .navbar-nav>li>a:focus {
    color: rgba(199, 199, 199, 1);
    background-color: rgba(0, 92, 90, 1);
}

.navbar-custom .navbar-nav>.active>a,
.navbar-custom .navbar-nav>.active>a:hover,
.navbar-custom .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 92, 90, 1);
}

.navbar-custom .navbar-toggle {
    border-color: #005c5a;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #005c5a;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #005c5a;
}

.navbar-custom .navbar-toggle:hover .icon-bar,
.navbar-custom .navbar-toggle:focus .icon-bar {
    background-color: #007272;
}

.navbar-collapse {
    padding: 0 15px 0 0;
}

.border-left {
	border-left: 1px solid #eaeef1;
}

.border-right {
	border-right: 1px solid #eaeef1;
}

.border-top {
	border-top: 1px solid #eaeef1;
}

.border-bottom {
	border-bottom: 1px solid #eaeef1;
}

.border-all {
	border: 1px solid #eaeef1;
}

.no-border, .no-borders {
	border-color: transparent;
	border-width: 0;
}

.margin-none {
	margin: 0;
}

.margin-all {
	margin: 15px;
}

.margin-bottom {
	margin-bottom: 15px;
}

.margin-top {
	margin-top: 15px;
}

.margin-left {
	margin-left: 15px;
}

.margin-right {
	margin-right: 15px;
}

.padding-none {
	padding: 0;
}

.padding-all {
	padding: 15px;
}

.padding-bottom {
	padding-bottom: 15px;
}

.padding-top {
	padding-top: 15px;
}

.padding-left {
	padding-left: 15px;
}

.padding-right {
	padding-right: 15px;
}

.text-white {
	color: #fff;
	/*color: rgba(255,255,255,0.8);*/
}

.text-red {
	color: #f56954 !important;
}

.text-yellow {
	color: #f39c12 !important;
}

.text-aqua {
	color: #00c0ef !important;
}

.text-blue {
	color: #0073b7 !important;
}

.text-light-blue {
	color: #3c8dbc !important;
}

.text-green {
	color: #00a65a !important;
}

.text-navy {
	color: #001f3f !important;
}

.text-teal {
	color: #39cccc !important;
}

.text-olive {
	color: #3d9970 !important;
}

.text-lime {
	color: #01ff70 !important;
}

.text-orange {
	color: #ff851b !important;
}

.text-fuchsia {
	color: #f012be !important;
}

.text-purple {
	color: #932ab6 !important;
}

.text-maroon {
	color: #85144b !important;
}

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red a,
.bg-yellowa,
.bg-aqua a,
.bg-blue a,
.bg-light-blue a,
.bg-green a,
.bg-navy a,
.bg-teal a,
.bg-olive a,
.bg-lime a,
.bg-orange a,
.bg-fuchsia a,
.bg-purple a,
.bg-maroon a,
.bg-black a,
.bg-vipps a {
	color: #f9f9f9 !important;
}

.bg-red a:hover,
.bg-yellowa:hover,
.bg-aqua a:hover,
.bg-blue a:hover,
.bg-light-blue a:hover,
.bg-green a:hover,
.bg-navy a:hover,
.bg-teal a:hover,
.bg-olive a:hover,
.bg-lime a:hover,
.bg-orange a:hover,
.bg-fuchsia a:hover,
.bg-purple a:hover,
.bg-maroon a:hover,
.bg-black a:hover,
.bg-vipps a:hover {
	color: rgba(250,250,250,0.9) !important;
}

.bg-gray {
	background-color: #eaeaec !important;
}

.bg-black {
	background-color: #222222 !important;
}

.bg-red {
	background-color: #f56954 !important;
}

.bg-yellow {
	background-color: #f39c12 !important;
}

.bg-aqua {
	background-color: #00c0ef !important;
}

.bg-blue {
	background-color: #0073b7 !important;
}

.bg-light-blue {
	background-color: #3c8dbc !important;
}

.bg-green {
	background-color: #00a65a !important;
}

.bg-navy {
	background-color: #001f3f !important;
}

.bg-teal {
	background-color: #39cccc !important;
}

.bg-olive {
	background-color: #3d9970 !important;
}

.bg-lime {
	background-color: #01ff70 !important;
}

.bg-orange {
	background-color: #ff851b !important;
}

.bg-fuchsia {
	background-color: #f012be !important;
}

.bg-purple {
	background-color: #932ab6 !important;
}

.bg-maroon {
	background-color: #85144b !important;
}

.bg-vipps {
    background-color: #007272 !important;
}


/*
 * ======================================================
 * ERROR PAGE
 * ======================================================
 */
 /*
  * Base structure
  */

/** #error body, #error html{
   height: 100%;
   background-color: #007272;
   text-align: center;
 }**/

 /* Extra markup and styles for table-esque vertical and horizontal centering */
 #error .site-wrapper {
   display: table;
   width: 100%;
   height: 100%; /* For at least Firefox */
   min-height: 100%;
 }
 #error .site-wrapper-inner {
   display: table-cell;
   vertical-align: top;
 }
 #error .cover-container {
   margin-right: auto;
   margin-left: auto;
 }

 /* Padding for spacing */
 #error .inner {
   padding: 30px;
   margin: auto;
   text-align: center;
 }
 /*
  * Cover
  */

 #error .cover {
   padding: 0 20px;
 }

#error h1, #error p, #error h3 {
  color: #ffffff;
  text-align: center;
}

#error h1{
	font-size: 10em;
}

#error a{
	color: #000000 !important;
}

.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid transparent;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .panel-footer {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0;
}
.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
  padding-left: 15px;
  padding-right: 15px;
}
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
  border-top: 1px solid #eeeeee;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel > .table-responsive {
  border: 0;
  margin-bottom: 0;
}
.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid transparent;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid transparent;
}
.panel-default {
  border-color: transparent;
}
.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: transparent;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-primary {
  border-color: transparent;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #158cba;
  border-color: transparent;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-primary > .panel-heading .badge {
  color: #158cba;
  background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-success {
  border-color: transparent;
}
.panel-success > .panel-heading {
  color: #ffffff;
  background-color: #28b62c;
  border-color: transparent;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-success > .panel-heading .badge {
  color: #28b62c;
  background-color: #ffffff;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-info {
  border-color: transparent;
}
.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #75caeb;
  border-color: transparent;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-info > .panel-heading .badge {
  color: #75caeb;
  background-color: #ffffff;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-warning {
  border-color: transparent;
}
.panel-warning > .panel-heading {
  color: #ffffff;
  background-color: #ff851b;
  border-color: transparent;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-warning > .panel-heading .badge {
  color: #ff851b;
  background-color: #ffffff;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-danger {
  border-color: transparent;
}
.panel-danger > .panel-heading {
  color: #ffffff;
  background-color: #ff4136;
  border-color: transparent;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-danger > .panel-heading .badge {
  color: #ff4136;
  background-color: #ffffff;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}

.panel {
  border: 1px solid #e7e7e7;
  border-width: 0 1px 4px 1px;
}
.panel-default .close {
  color: #555555;
}
